<!--
taglogic_top_table.html
-->


<table>
    <thead><tr>
        <th>
            再生回数
        </th>
        <th>
            チャンネル登録者
        </th>
        <th>
            推定年収
        </th>
        
    </tr></thead>
    <tbody>
   

        <tr>
          <td>
              
          </td>
          
          <td><span class="label label-default">
              トップ５０
          </span></td>
            
          <td>
            
          </td>  
        </tr>
      
        <tr>
          <td><a href="{{ page.url | remove: "/" }}">
              {{page.title}}
           </a></td>
          
          <td><span class="label label-default">
              トップ５０
          </span></td>
            
          <td>
            
          </td>  
        </tr>

}
 
        
     </tbody>
    
</table>


<!--
<p>The following pages and posts are tagged with <button type="button" style="cursor: default" class="btn btn-default navbar-btn">{{page.tagName}}</button></p>
-->

