<!--
taglogic_top_table.html
-->


<table>
    <thead><tr>
        <th>
            再生回数
        </th>
        <th>
            チャンネル登録者
        </th>
        <th>
            推定年収
        </th>
        
    </tr></thead>
    <tbody>
   

        <tr>
          <td>
              128億6361万7381回	
          </td>
            
          <td>
              696万人		
          </td>
          
          <td><span class="label label-default">
              2億5377万244円
          </span></td>
              
        </tr>
       
        
     </tbody>
    
</table>


<!--
<p>The following pages and posts are tagged with <button type="button" style="cursor: default" class="btn btn-default navbar-btn">{{page.tagName}}</button></p>
-->

