<!--
taglogic_top_table.html
-->


<table>
    <thead><tr>
        <th>
            再生回数
        </th>
        <th>
            チャンネル登録者
        </th>
        <th>
            推定年収
        </th>
        
    </tr></thead>
    <tbody>
   

        <tr>
          <td>
          <span class="label label-danger">
              57億8242万6288回	
          </span>
          </td>
            
          <td>
          <span class="label label-danger">
              1130万人　	
          </span>		
          </td>
          
          <td>
          <span class="label label-danger">
              6億9389万1154円
          </span>
          </td>
              
        </tr>
       
        
     </tbody>
    
</table>


<!--
<p>The following pages and posts are tagged with <button type="button" style="cursor: default" class="btn btn-default navbar-btn">{{page.tagName}}</button></p>
-->

